body{
    font-family: 'Nunito';
    background: rgba(45, 0, 39,0.9);
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#banner {
    max-width: 600px;
    background: rgb(142, 47, 130);
    margin: auto;
    text-align: center;

}

#app-window{
    max-width: 900px;
    margin:  auto;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

/*Chat window*/
#mario-chat{
    max-width: 300px;
    margin: auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    float: left;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

/*game window*/

#game-window {
 
    margin: auto 30px;
    /*border: 1px solid #ddd;*/
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    float: left;

}

#cp {

    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    background: #f9f9f9;
    margin-top: 2px;

}

#game-message {

    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    height: 100px;
    overflow: auto;
    background: #f9f9f9;
    margin-top: 2px;

}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

canvas {
   /* height: 580px;
    width: 580px;*/
    display: block;
    background-color: rgba(96, 202, 255, 0.9);
    margin: auto;
}